.minimized {
    --w: 104px !important;
    height: 45px !important;
    min-width: var(--w) !important;
    max-width: var(--w) !important;
    position: absolute;
    top: -33px;
    left: 530px;
}

.minimized:nth-of-type(2) {
    left: 530px + (96px * 1);
}

.minimized:nth-of-type(3) {
    left: 530px + (96px * 2);
}

.minimized:nth-of-type(4) {
    left: 530px + (96px * 3);
}

.minimized div,
.minimized [type="button"] {
    display: none !important;
    position: fixed;
}

div:has(div > .minimaxButton) {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

._card_1a4r4_11 {
    max-width: 100vw;
    min-width: 25%;
    width: 100%;
}

._card_1a4r4_11:last-child {
    max-width: 100vw !important;
    min-width: 25%;
    width: 100% !important;
}

[class="pb-1 flex items-center overflow-auto _calculator_1a4r4_1"] {
    max-width: 100% !important;
    width: 100vw !important;
}

.space-x-2>:not([hidden])~:not([hidden]) {
    margin: 0 !important;
}

[class*="w-1/5 border border-transparent"],
[class="w-1/5 border-2 border-light-400"] {
    height: 63px !important;
    width: 63px !important;
}

div:has(> [class*="w-1/5 border border-transparent"]) {
    display: flex;
    justify-content: center;
}
